
  .overlay-container {
    position: relative;
    margin-top: 200px;
  }

  .user-container {
    display: flex;
    width: 1192.957px;
    min-height: 150px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.80);
    margin-bottom: 10px;
    margin-left: 200px;
    margin-top: 50px;
  }
  .link{
    color:#2A8194;
    font-weight: bold;
  }

  .user-link {
    width: 130px;
    display: flex;
    color: inherit;
    margin-left: 12px;
    align-items: center;
    text-decoration: none;
  }

  .user-avatar {
    width: 101.108px;
    height: 97.414px;
    flex-shrink: 0;
    border-radius: 200px;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .user-info {
    width: 421.304px;
    height: 78.333px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 15px;
  }

  .ban-form {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 50px;
  }

  .ban-button {
    width: 300px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #894DBC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .info-container {
    width: 220px;
    min-height: 157px;
    flex-shrink: 0;
    border-radius: 50px;
    background: rgba(217, 217, 217, 0.80);
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 1180px;
    margin-top: 20px;
    font-weight: 700;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px; 
    padding-left: 20px; 
  }

  .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }

  .legend {
    font-family: Inter;
    font-size: 16px;
    color: #000;
  }
  .users-container {
    width: 332.188px;
    height: 85.333px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #894DBC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    z-index: 9900;
  }

  .users-text {
    width: 175px;
    height: 54px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 32px;
  }

  .users-icon {
    width: 55px;
    height: 56px;
    flex-shrink: 0;
    padding-right: 30px;
  }


  body {
    font-family: 'Inter', sans-serif;
  }

  h1 {
    color: #333;
  }

  .overlay-container {
    position: relative;
    width: 100%;
    z-index: 9900;
  }



  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: rgba(217, 217, 217, 0.80);
    width: 941px;
    height: 260px;
    flex-shrink: 0;
    margin-bottom: 20px;
    margin-left: 350px;
  }


  .button-container button {
    border-radius: 40px;
    background: #894DBC;
    width: 237.776px;
    height: 52.451px;
    flex-shrink: 0;
    color: #fff;
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    border: none;
  }

  .button-container img {
    width: 30px;
    height: auto;
    margin-right: 10px;
  }

  .project-container {
    margin-bottom: 40px;
    width: 100%;
  }

  .project-divider {
    width: 940.615px;
    height: auto;
    flex-shrink: 0;
    border-radius: 40px;
    background: rgba(217, 217, 217, 0.80);
    margin-left: 350px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .project {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .project-summary {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    text-align: right;
  }

  .project-details {
    text-align: left;
  }

  .project-details .name,
  .report-hashtags {
    text-align: right;
  }

  .project-details strong {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    display: block;
    margin-bottom: 5px;
  }

  .project-details p {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }

  .project-details img {
    width: 850.669px;
    height: auto;
    flex-shrink: 0;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .report-files a {
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
  }

  .report-hashtags span {
    display: inline-block;
    margin-right: 5px;
    color: #000;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .complaint-text {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
    margin-left: 700px;
    text-align: right;
  }


  .report-text {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
  }

  .report-container {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    width: 100%;
    padding-left: 40px;
  }


  .report-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  a {
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
    text-decoration: none;
  }

  .images {
    display: grid;
    margin-top: 2px;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
   }
   
   .images .one-image:first-child {
    width: 845px;
    height: 359px;
    border-radius: 100px;
    grid-column: 1 / -1;
    object-fit: cover;
   }
   
   .images .one-image {
    width: 345px;
    height: 259px;
    margin-top: 15px;
    border-radius: 30px;
    object-fit: cover;
   }