.container {
  font-family: Inter, sans-serif;
  max-width: 180vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100px 1fr;
  background-color: #212121;
}

aside {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #ffffff4b;
  gap: 16px;
}

section {
  width: 100%;
  display: grid;
  padding: 0px 30px;
  margin-left: -60px;
  margin-top: 200px;
  justify-content: center;
}

.card-new-post {
  position: relative;
  border-radius: 100px;
  width: 45%;
  background-color: #d9d9d9;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.text-card {
  margin-left: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #000;
}

.new-post-notification {
  border-radius: 50px;
  background: #894dbc;
  cursor: pointer;
  padding: 8px;
  position: absolute;
  bottom: 80px;
  right: 50px;
  color: #FFFFFF;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.avatar {
  padding: 2px 0 2px 0;
  width: 100px;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  background-color: #FFFFFF;
}

.avatar .user-icon {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

article {
  margin-top: 40px;
  border-top: 2px solid #fff;
}

.wrapper-chat {
  padding: 89px
}

.message {
  display: flex;
  margin-bottom: 15px;
  position: relative;
  gap: 50px;
  margin-left: -75px;
}

.user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin-right: 10px;
  position: relative;
}

.ideia-circles {
  display: flex;
  position: relative;
}

.circles-1 {
  top: 70px;
  width: 12px;
  left: 165px;
  height: 13px;
  position: relative;
  border-radius: 100%;
  background-color: #FFFFFF;
}

.circles-2 {
  top: 85px;
  width: 18px;
  left: 172px;
  height: 18px;
  position: relative;
  border-radius: 100%;
  background-color: #FFFFFF;
}

.message .text-bubble {
  width: 860px;
  padding: 10px 10px 35px 10px;
  background: rgba(217, 217, 217, 0.85);
  border-radius: 80px;
  margin-top: 2rem;
  margin-bottom: 40px;
  position: relative;
  min-height: 300px;
}

.message .text-bubble header {
  display: flex;
  margin-right: 28px;
  color: #000;
  font-family: Inter;
  font-size: 26px;
  font-weight: bold;
  height: fit-content;
  justify-content: flex-end;
}

.nametag {
  margin: 0;
  height: fit-content;
}

.description-post {
  font-size: 22px;
  font-weight: 700;
  font-family: Inter;
  margin: 20px 0 0 12px;
}

.hashtags {
  bottom: 0;
  right: 40px;
  display: flex;
  font-size: 20px;
  margin-top: 35px;
  font-weight: 400;
  font-family: Inter;
  position: absolute;
  justify-content: flex-end;
}

.files {
  margin: 30px 0 0 12px;
  font-family: Inter;
  font-weight: 700;
}

.files a {
  color:#2A8194;
}

.images {
  display: grid;
  margin-top: 2px;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
 }
 
 .images .one-image:first-child {
  width: 845px;
  height: 359px;
  border-radius: 100px;
  grid-column: 1 / -1;
 }
 
 .images .one-image {
  width: 345px;
  height: 259px;
  margin-top: 15px;
  border-radius: 30px;
 }

.title {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 0 12px;
  font-style: normal;
  font-family: Inter;
  justify-content: flex-start;
}

.buttons {
  position: absolute;
  right: -25px;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  width: 50px;
  border: none;
  height: 50px;
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  background-color: #2a8194;
  transition: background-color 1s;
}

.button:hover {
  background-color: #185d6d;
}

.count {
  position: absolute;
  bottom: -10px;
  right: -16px;
  padding: 2px;
  width: 26px;
  background-color: #2A8194;
  border-radius: 50px;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.50);
}

.warning-button {
  opacity: 0.8;
  cursor: pointer;
}

.warning-button:hover {
  opacity: 0.95;
}