.big-circle {
  top: 0;
  width: 605px;
  height: 535px;
  display: flex;
  margin-left: 20%;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: #bb7af3d7;
}

.message {
  display: none;
  width: 100%;
  height: 100%;
  background-image: url("../images/landingPageMessage.png");
}

.logo {
  height: 25%;
}

.logo-img {
  width: 90%;
  position: fixed;
  top: 155px;
  right: 39px;
}

.big-circle .right-blue-label {
  left: -95px;
  width: 280px;
  height: 45px;
  position: relative;
  margin-right: 200px;
  border-radius: 100px;
  margin-bottom: -200px;
  background-color: #5D7DAF;
}

.big-circle .purple-play-button {
  top: 65px;
  z-index: 50;
  right: -50px;
  width: 280px;
  height: 55px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 100px;
  background-color: #bb7af3d2;
}

.purple-play-button img {
  width: 35px;
  height: 35px;
  margin-left: 150px;
  margin-bottom: -4px;
}

.small-circle {
  width: 285px;
  left: -100px;
  height: 290px;
  bottom: -90px;
  position: absolute;
  border-radius: 100%;
  background-color: #bb7af3d7;

}

.small-circle .left-blue-label {
  bottom: 0;
  width: 260px;
  height: 35px;
  border-radius: 100px;
  background-color: #5D7DAF;
  position: relative;
  top: 175px;
}

@media (min-width: 481px) and (max-width: 790px) {
  .big-circle {
    top: 0px;
    width: 134vw;
    height: 95vh;
    margin-left: 149px;
  }
  
  .big-circle .purple-play-button {
    right: -100px;
  }
}

@media (min-width: 791px) and (max-width: 1919px) {
  .big-circle {
    position: absolute;
    top: 0;
    width: 105vw;
    height: 115vh;
    left: 115px;
  }

  .message {
    display: flex;
    position: absolute;
    left: 45px;
    top: 250px;
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-image: url("../images/message.png");
  }

  .logo {
    display: flex;
    align-items: flex-end;
  }

  .logo-img {
    right: 0;
    width: 40%;
    position: static;
    top: 155px;
  }

  .big-circle .right-blue-label {
    display: none;
  }
  
  .big-circle .purple-play-button {
    width: 280px;
    right: 0;
  }
  
  .purple-play-button img {
    width: 35px;
    height: 35px;
    margin-left: 150px;
    margin-bottom: -4px;
  }
  
  .small-circle {
    width: 380px;
    height: 355px;
  }
  
  .small-circle .left-blue-label {
    width: 302px;
    height: 53px;
    top: 213px;
  }
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .message {
    top: 274px;
  }

  .big-circle .purple-play-button {
    left: 12px;
  }

}