.table {
  width: 100%;
 margin-top: 1rem;
  color: #FFFFFF;
  background-color: #282C34;
  border-radius: 4px;
} 



.table tbody tr {
  height: 50px;
  vertical-align: middle;
}

.table tbody td {
  border: none;
}

.obs-modal {
  font-size: 13px;
  font-style: italic;
  color: #ff57b2;
}