body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-image: url("../images/background.png");
}

h1{
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}

.button_play {
  font-size: 30px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-left:150px;
  background-color:rgb(165, 69, 234);
  width: 50%;
  height: 30%;
  border-radius: 30px;
}

.container {
  text-align: center;
}

i{
  color: white;
  margin-left:40%;
}


.login-form {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.white-text {
  color: #fff;
}
.input-container {
  position: relative;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  color:rgb(25, 25, 25);
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #2a2929;
}

.purple-button {
  width: 100%;
  padding: 10px;
  background-color: #9c27b0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.purple-button:hover {
  background-color: #7b1fa2;
}

.register-link {
  margin-top: 20px;
}

.not-a-player-button {
  padding: 10px 20px;
  border: 2px solid #9c27b0;
  border-radius: 5px;
  background-color: transparent;
  color: #9c27b0;
  cursor: pointer;
}

.not-a-player-button:hover {
  background-color: #9c27b0;
  color: #fff;
}

.signup-form {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.continue-button {
  padding: 10px 20px;
  background-color: #9f54e1;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left:160px ;
  cursor: pointer;
}

.continue-button:hover {
  background-color: #0056b3;
  
}
