.menu-icon {
  top: 20px;
  left: 30px;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  position: fixed;
}

.menu-icon .logo-menu {
  top: -7px;
  width: 80px;
  height: 54px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 60px;
  background-image: url("../images/logo.png");
}

.sidebar {
  top: 0;
  z-index: 9998;
  width: 100px;
  min-height: 100%;
  position: absolute;
  border-right: 2px solid #fff;
  background-color: #1f1f1f;
  position: fixed;
}

.sidebar ul {
  list-style: none;
  position: absolute;
  padding: 0;
  margin-top: 60px;
  margin-left: 20px;
  /* Espaçamento adicionado na parte superior das opções de menu */
}

.sidebar li {
  width: 50px;
  height: 50px;
  padding: 10px;
  display: flex;
  border-radius: 900px;
}

.sidebar li img {
  width: 40px;
  height: 40px;
}

.sidebar li img:hover {
  filter: drop-shadow(2px 3px rgba(15, 197, 221, 0.651));
}

.sidebar li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.sidebar .expandable {
  display: flex;
  position: relative;
}

.sidebar .expandable ul {
  margin: 0;
  left: 85px;
  display: grid;
  padding-top: 8px;
  margin-top: -8px;
  justify-content: center;
  align-items: center;
}

.sidebar .expandable ul li {
  width: 340px;
  height: 20px;
  border: none;
  display: flex;
  border-radius: 40px;
  margin-bottom: 10px;
  align-items: center;
  background: #1E1E1E;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sidebar .expandable ul li a {
  width: 100%;
  display: flex;
  font-size: 28px;
  font-weight: 700;
  margin-left: 20px;
  font-family: 'Inter';
  justify-content: flex-start;
}

.more-itens {
  width: 429px;
  height: fit-content;
  border-radius: 30px;
  padding: 5px 5px 5px 10px;
  background: rgba(217, 217, 217, 0.80);
}

.notifications {
  top: 132px;
  left: 5px;
  width: 750px;
  display: grid;
  overflow: auto;
  max-height: 100vh;
  position: relative;
  height: fit-content;
  border-radius: 30px;
  justify-content: center;
  padding: 5px 5px 5px 10px;
  background: rgba(0, 0, 0, 0.8);
}

.notifications::-webkit-scrollbar {
  width: 0;
  height: 0;
 }

.notifications:first-child .full-notification {
  bottom: 80px;
}

.full-notification {
  display: grid;
  position: relative;
  margin-bottom: -60px;
}

.notifications .one-notification-background {
  top: 130px;
  left: 23px;
  width: 530px;
  height: 115px;
  position: relative;
  border-radius: 50px;
  background: rgba(102, 156, 238, 0.70);
}

.notifications .one-notification {
  z-index: 5;
  width: 530px;
  height: 115px;
  display: grid;
  grid-template-columns: 50px auto;
  position: relative;
  align-items: center;
  border-radius: 50px;
  background: #D9D9D9;
  justify-content: flex-start;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.notifications .one-notification img {
  left: 20px;
  width: 45px;
  height: 45px;
  position: relative;
}

.notifications .one-notification p {
  right: 20px;
  text-align: end;
  font-size: 18px;
  font-weight: 700;
  margin-left: 75px;
  position: absolute;
  font-family: Inter;
}

.modal-bg {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar button {
  top: -8px;
  left: -8px;
  width: 80px;
  border: none;
  background: none;
  position: relative;
}

.modal-background {
  top: 0;
  z-index: 2;
  width: 100%;
  left: 100px;
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
}

.modal-container {
  min-width: fit-content;
  padding: 40px;
  overflow-y: auto;
  max-width: 800px;
  border-radius: 100px;
  margin-top: 20px;
  background: #212121;
  max-height: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}