body {
  margin-top: 296px;
  font-family: 'Inter', sans-serif;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content {
  max-width: 890px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #1E1E1E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.delete-modal-title {
  height: 63px;
  flex-shrink: 0;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.delete-modal-input-container {
  justify-content: center;
}

.delete-modal-input {
  border-radius: 50px;
  background: #32A5B2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 70%;
  max-width: 365px;
  height: 48px;
  flex-shrink: 0;
  border: none;
  padding: 10px;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  margin-bottom: 240px;
  cursor: default;
  text-align: center !important;
}



.delete-modal-buttons {
  justify-content: space-around;
}

.delete-modal-yes,
.delete-modal-no {
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 115px;
  height: 43px;
  flex-shrink: 0;
  border: none;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.80);
}

.delete-modal-no {
  background-color: rgba(50, 165, 178, 0.80);
}


.image {
  width: 80px;
  height: 80px;
  margin-top: -380px;
  margin-left: 700px;
  margin-bottom: 70px;
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000;
  font-size: 20px;
}

#content-wrapper {
  position: relative;
  z-index: 1;
  margin-top: 50px;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: fit-content;
  min-width: 475px;
  flex-shrink: 0;
  background-color: #D9D9D9;
  margin: 10px;
  margin-left: 80px;
}

.not-a-player-button {
  width: 358px;
  height: 60px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  border-radius: 50px;
  background: #894DBC;
  cursor: pointer;
  border: 1px solid white;
  margin-bottom: 20px;
}

.not-a-player-button:hover {
  background: #663399;
}

.alert {
  margin-top: 20px;
}

.card-hashtag {
  border-radius: 50px;
  background: #32A5B2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex: 1; 
  min-width: 320px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin: 10px 0;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}


.card-content {
  height: fit-content;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.icon {
  width: 45px;
  height: 46.618px;
  flex-shrink: 0;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #1E1E1E;
}

.icon-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card-hashtag img {
  filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.25));
  margin-right: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

#form-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.edit-button {
  background: url('public/images/ferramenta-lapis.png') no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  width: 24.179px;
  height: 25.048px;
  cursor: pointer;
}

.edit-icon {
  width: 24.179px;
  height: 25.048px;
  margin-left: -5px;
}

#hashtag-input {
  color: #FFF;
  font-family: 'K2D', sans-serif;
  font-size: 25px;
  font-weight: 400;
  width: 358px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50px;
  background: rgba(217, 137, 255, 0.50);
  margin-right: 10px;
  padding-left: 25px;
  border: 1px solid white;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.delete-button img {
  filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.25));
}

.blur-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.5);
  z-index: 1;
  display: none;
}

.blurred {
  backdrop-filter: blur(5px);
}



.edit-modal-title {
  width: 430px;
  height: 60px;
  flex-shrink: 0;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.edit-modal-input-container {
  justify-content: center;
}

.edit-modal-input-container {
  justify-content: center;
}

.edit-modal-input {
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 50px;
  background: #FFF;
  cursor: default;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 365px;
  height: 40.32px;
  flex-shrink: 0;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;

}

.edit-field {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 50px;
  background: #32A5B2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 365px;
  height: 40.32px;
  flex-shrink: 0;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
}

.edit-field::placeholder {
  text-align: center;
  color: #FFF;
}

.edit-modal-buttons {
  justify-content: space-around;
}

.edit-modal-yes,
.edit-modal-no {
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 115px;
  height: 43px;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  background-color: rgba(181, 96, 255, 0.70);
}


.modal-content-edit {
  width: 890px;
  height: 299px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #1E1E1E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

#hashtag-input::placeholder {
  color: #FFF;
}